@page "/NoPermission"

<Card Color="Color.Info" IsCenter="true" IsShadow="true">
    <HeaderTemplate>
        <h1 style="color:red;flex:auto">You do not have permission</h1>
    </HeaderTemplate>
   <BodyTemplate>
        <h3 style="color:blue">Please apply for a new account on BPM
            <a class="btn btn-primary" href="http://qcibpm/bpmportal/" target="_blank" title="BPM">
                Apply 
            </a>
        </h3>
        <div class="card-text">
            <div style="display:inline-block;text-align:left">
                <h4>
                    <strong>Step 1</strong> 資訊類<br />
                    <strong>Step 2</strong> 資訊需求申請單<br />
                    <strong>Step 3</strong> 公司別 QCI<br />
                    <strong>Step 4</strong> 系統名稱i2 FP/SDB<br />
                    <strong>Step 5</strong> 需求內容 CRD權限申請<br />
                    <strong>Step 6</strong> 描述請填寫申請人E-mail
                </h4>
            </div>
        </div>
    </BodyTemplate>
</Card>